fastapi
uvicorn
sqlalchemy
alembic
pydantic
pydantic-settings
python-dotenv
asyncpg
psycopg2-binary
passlib[bcrypt]
python-jose[cryptography]
python-multipart
httpx
iyzipay
celery
redis
email-validator
requests
